body {
    background: url(gallery/gallery_bg.jpg);
}

#navbar {
    background: url(images/img1.png) no-repeat;
    background-size: cover;
    height: 6rem;
    margin: -17px -8px 0px -11px;
    position: fixed;
    border-radius: 15px;
    top: 0px;
    width: 100%;
}

#logo {
    margin: 17px 32px;
    padding-top: 1.5rem;
}

#logo img {
    height: 64px;
    margin: -10px -29px;
}

#enq {
    padding-top: 90px;
    padding-left: 10rem;
    width: 75%;
}

#enq::before {
    content: "";
    background: url(images/enquiry_bg.jpeg);
    height: 100px;
    width: 100px;
}

.collapsible:nth-child(1) {
    margin-top: 20px;
}

.collapsible {
    background-color: #524e4e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#contact-us {
    position: relative;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    background-color: #ffffffe0;
    padding: 1.1rem;
    border-radius: 30px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Indie Flower', cursive;
}

.h-secondary {
    font-size: 1.6rem;
    padding: 12px;
    font-family: 'Indie Flower', cursive;
}

.center {
    text-align: center;
}