.gallery{
    /* background-color: black; */
    background: url(gallery/background.jpg);
    /* margin: 10px 50px; */
    /* margin: 0px; */
    /* margin-top: 0px; */
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 20%;
    margin-left: 28px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.2);
}