body{
    margin: 0;
    padding: 0;
    border: 0;
}
#navbar{
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 100%;
    position: fixed;
    z-index: 4;
}
#navbar img{
    width: 13rem;
    height: 4rem;
}
#signuppage{
    height: 47.3rem;
    width: 100%;
    background: url(images/signup_bg.jpg)no-repeat;
    background-size: cover;
    position: absolute;
    top: 4px;
}
#signupbox{
    height: 25rem;
    width: 20rem;
    background: #fff;
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 60px 30px;
}
#signupbox img{
    width: 11rem;
    height: 10rem;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#signupbox h1{
    padding: 0px 6.5rem;
}
#signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#signupbox input{
    width: 100%;
    margin-bottom: 20px;
}

#signupbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}

#signupbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
}

#signupbox a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(133, 129, 129);
    margin-right: 12px;
}